<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-1.8.3.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $.getJSON("search",function (result) {
                var str="";
                $.each(result,function (i,item) {
                    str+="<tr align='center'>";
                    str+="<td>"+item.memberNumber+"</td>";
                    str+="<td>"+item.nickName+"</td>";
                    str+="<td>"+item.createTime+"</td>";
                    str+="<td>"+item.goods.name+"</td>";
                    str+="<td><a href='product?goodsId="+item.goods.id+"'>查看商品</a>&nbsp;&nbsp;<a href='#' id='del'>删除</a></td>";
                    str+="</tr>"
                })
                $("table").append(str);
            });
            $("#search").click(function () {
                var memberNumber=$("#memberNuber").val();
                $.getJSON("search","memberNumber="+memberNumber,function (result) {
                    var str="";
                    $.each(result,function (i,item) {
                        str+="<tr align='center'>";
                        str+="<td>"+item.memberNumber+"</td>";
                        str+="<td>"+item.nickName+"</td>";
                        str+="<td>"+item.createTime+"</td>";
                        str+="<td>"+item.goods.name+"</td>";
                        str+="<td><a href='product?goodsId="+item.goods.id+"'>查看商品</a>&nbsp;&nbsp;<a href='#' id='del'>删除</a></td>";
                        str+="</tr>"
                    })
                    $("table tr:gt(1)").remove();
                    $("table").append(str);
                });
            })
            $("#del").live("click",function () {
                var memberNumber=$(this).parent().parent().children().first().html();
                var index=$(this).parent().parent().index();
                if(confirm("确定要删除吗？")){
                   $.get("del","memberNumber="+memberNumber,function (result) {
                       if(result=="true"){
                           alert("删除成功");
                           $("table tr:eq("+index+")").remove()
                       }else{
                           alert("删除失败！")
                       }
                   },"text")
                }
            })
        });
    </script>
    <style type="text/css">
        table a{
            text-decoration:none;
        }
        table a:hover{
            color:red;
        }
        table tr:nth-of-type(2n+1){
            background-color: bisque;
        }
        table tr:hover{
            background-color: darkgray;
        }
    </style>

</head>
<body>
    <div align="center" style="margin-bottom: 20px">
        会员卡号：<input type="text" id="memberNuber">
        <input type="button" value="查询" id="search"/>
        <input type="button" value="添加" id="add" onclick="javascript:location='add'"/>
    </div>
        <table align="center" border="1" cellspacing="0" cellpadding="0">
            <tr align="center" style="background-color: aqua;height: 60px">
                <td colspan="5">会员信息列表</td>
            </tr>
            <tr align="center">
                <td>会员卡号</td>
                <td>昵称</td>
                <td>申请时间</td>
                <td>最近购买商品</td>
                <td>操作</td>
            </tr>
        </table>
</body>
</html>